.content {padding: 80px 110px;}

/*main dashboard*/

.dashboard {display: flex; gap: 30px;}
.dashboard .content_box:first-child ul {display: flex; gap: 20px;}
.dashboard .content_box:first-child ul .dashboard_logo_wrap {width: 100px; height: 100px; border: 1px solid var(--light-gray); border-radius: 50px; display: flex; justify-content: center; align-items: center;}
.dashboard .content_box:first-child ul li {position:relative; width: 100px; font-family: var(--en-font);}
.dashboard .content_box:first-child ul li .stack_num {position:absolute; width: 25px; height: 25px; background-color: var(--main-color); border-radius: 50px; color: #fff; font-size: 15px; font-weight: 600; line-height: 25px; text-align: center;}
.dashboard .content_box:first-child ul li p {text-align: center; margin-top: 15px; font-weight:500; word-break: keep-all;}
.dashboard .content_box:first-child ul li p span {color: var(--main-color); margin-left: 5px;}

.dashboard .content_box:last-child {background-color: var(--main-color); color: #fff;}
.dashboard .content_box:last-child ul li {display: flex; text-overflow:ellipsis; overflow: hidden; word-break: break-all; white-space: nowrap; line-height: 45px; border-bottom: 1px solid rgb(255 255 255 / 20%);}
.dashboard .content_box:last-child ul li > div {position:relative; font-weight: 600; width: 27px; margin-right: 10px; font-family: var(--en-font); text-align: center;}
.dashboard .content_box:last-child ul li > div::before {position:absolute; left: 0; top: 50%; translate: 0 -50%; content:''; width: 25px; height: 25px; border: 1px solid #fff; border-radius: 50px;}

.dashboard .content_box .dashboard_title {font-weight: 700; font-size: 17px; padding-bottom: 30px; font-family: var(--en-font);}

/*all posts*/

.post_li_wrap {padding-top: 60px;}
.post_li_wrap .post_li_wrap_title {position: relative; font-size: 18px; font-family: var(--en-font); color: var(--main-color); font-weight: 900; padding-left: 20px;}
.post_li_wrap .post_li_wrap_title::before {position:absolute; content:''; width: 13px; height: 13px; background:url('../img/dir.png') center no-repeat; left:0;}
.post_li_wrap ul {padding-top: 30px;}
.post_li_wrap ul li {padding: 15px 0;}
.post_li_wrap ul li:first-child {padding-top: 0;}
.post_li_wrap ul li .content_box:hover {cursor: pointer; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); transition: 0.3s;}
.post_li_wrap ul li .content_box .li_title {display: flex;}
.post_li_wrap ul li .content_box .li_title span {color: var(--main-color); border: 1px solid var(--main-color); font-weight: 600; padding: 10px 25px;}
.post_li_wrap ul li .content_box .li_title p {margin-left: 15px; font-size: 18px; line-height: 35px; font-weight: 600;}
.post_li_wrap ul li .content_box .li_text {padding: 15px 0; color: #666;}
.post_li_wrap .tag_wrap {display: flex;}
.post_li_wrap .tag_wrap .tag {color: var(--main-color); padding-right: 20px; }
